<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" href="./favicon.ico">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Custom.css"> 
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src='/bootstrap.js'></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #85929E !important;">
  <a class="navbar-brand" href="/teachers">EasyEval</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a class="nav-link" href="/teachers">About<span class="sr-only">(current)</span></a>
      </li>
      {{#if user}}
       <li class="nav-item">
        <a class="nav-link" href="/teachers/dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}
        </a>
     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item disabled" href="#">Change Password</a>
          <a class="dropdown-item disabled" href="#">Contact Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/teachers/logout">Log Out</a>
        </div>
    </ul>
        {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/teachers/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teachers/login">Login</a>
      </li>
  
    {{/if}}
  </div>

</nav>
    {{{body}}}
</body>

</html>