<div class="container-fluid">

   <div class="jumbotron" id="enterPin" class="jumboWindow col-md" style="padding: 50px;">
      <div id="container" class="" align="center">
         <h1>Easy Eval</h1>
         <p>Easy Feedback Easy Grading</p>
         {{> flash}}
         <div id="formContainer" class="col-lg" align="center">
            <form action="/" method="POST" id="form" class="form-group col-lg" align="center">

           <div align="center"><input type="tel" min="0" size="5" maxlength="5" onchange="updateForm()" class="form-control mb-2" id="pinNumber" name="pinNumber" placeholder="Pin"></div>
               <br>
               
              <button type="submit" class="form-control btn btn-primary btn-lg">Next</button>
      
            </form>
         </div>
         <br>
         <br>
          <h4>Teachers?</h4>
            <a href="/teachers"><button type="button" class="btn  btn-outline-success btn-sm">Click Here!</button></a>
      </div>
   </div>
</div>
