<div class="container-fluid">
   <div class="jumbotron" style="margin:auto center;">
      <div id="container" class="" align="center" style="width:100%">
         <h1>Easy Eval</h1>
         <p>Evalute your group memebers with a click of a button!</p>
         {{> flash}}
         <div id="formContainer" class="center_div" align="center">
            <form action="/" method="POST" id="form" class="form-inline center_div" align="center">
              <div class="center_div"><input type="tel" maxlength="5" onchange="updateForm()" class="form-control mb-2" id="pinNumber" name="pinNumber" placeholder="Pin Number" align="center"></div>
               <br>
               
               <button type="submit" class="btn btn-primary btn-lg btn-block">Next</button>
            
            </form>
         </div>
         <br>
         <br>
          <h4>Teachers?</h4>
            <a href="/teachers"><button type="button" class="btn  btn-outline-success btn-sm">Click Here!</button></a>
      </div>
   </div>
</di