<div class="container-fluid">
<script>
  numInGroup = {{numInGroup}} + 1;
  firstName = '{{firstName}}';
  //groupMemberNames = ['{{firstName}}', {{groupMemberNames}}];

	groupMemberNamesString = localStorage.getItem("groupMemberNamesString");

	groupMemberNames = groupMemberNamesString.split(`,`);

  updateSliders();
</script>
<div class="page-header" align="center">
	<h1>Easy Eval</h1>
	<br>
  <h1><small>Evaluate Your Group Members</small></h1>
</div>
<div class="row" id="charts"></div>
<div class="row" id="sliders"></div>
	</div>

  <script>
    window.onload = function(){init()};

    document.body.onmousemove = function(){
	$(window).resize(function() {
 	chartWidth = (document.documentElement.clientWidth/standardsInAssignment - 10);
	drawChart();


	for(var i=0; i<standardsInAssignment; i++){
		defineSliderLocation(i);
	}

});
	for(var i=0; i<standardsInAssignment; i++){
		updateSliders(i);
	}};

  </script>
