   <div id="landing">
   <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">EasyEval</h1>
          <h2 class="masthead-subheading mb-0">Group Projects Made Easy</h2>
          <a href="/teachers/register" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up Now</a>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/EasyEval Capture.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Visual</h2>
              <p>Our sliders and graphs allow students to visually see the impact of their grade, rather than looking at a bunch of numbers, allowing for better evaluations and more honest feedback.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/welcomePageAssets/MacFin500.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Dead Simple</h2>
              <p>Create your first project in no time at all. Students can connect using a 5 digit code, no account necessary. Once you're done, you can export the results to Google Drive or Microsoft Excel to make for easy number crunching.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/NewProject.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Adaptable</h2>
              <p>We realize that every grading system is different. So EasyEval allows for every aspect of the project
                        to be changed, from the number of standards to the amount of points students can score, fitting the
                        need of any assignment.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-white">
      <div class="container">
        <p class="m-0 text-center small">Copyright &copy; EasyEval 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    </div>