   <div id="landing">
   <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
         <b> <h1 class="masthead-heading mb-0">EasyEval</h1></b>
         <em><h2 class="masthead-subheading mb-0">Easy Feedback Easy Grading</h2></em>
          <a href="/teachers/register" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up Now</a>
        </div>
      </div>
    
    </header>
  <div class="divider"></div>
    <section>
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid shadow" src="/evalcomputer.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2>Visual</h2>
              <p>EasyEval is a feedback application for students to visually evalutate the impact
              each team member had on a group project. Our sliders and graphs allow students to visually 
              see the impact of their grade, rather than looking at a bunch of numbers. This allows better evaluations and more
              honest feedback. We seek to digitize what has been done on pen and paper for ages.</p>
              <br>
              <blockquote>"65% of all students respond better to visual aids." -Forbes</blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid shadow" src="/EE2People.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2>Simple</h2>
              <p>Create an assignment in no time at all. Students can connect using a 5 digit code on any device, no account needed. 
                The results can then be exported to Microsoft Excel or Google Drive for easy number crunching. This service is completly free, no payment required.</p>
                <br>
                <blockquote>"Simplicity is the ultimate sophistication." -Leonardo da Vinci</blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid shadow" src="/EECreateProject.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2>Adaptable</h2>
              <p>EasyEval allows for every aspect of the project to be changed, from the number of standards to the amount of points students can be awarded, fitting the
                        need of any assignment. EasyEval also includes a point weighing system so students can give a percentage they belive each group member deserves. 
                        Ranging from 80%-120% this feature allows teachers to consider  </p>
              <blockquote>"I love EasyEval because its super cool and neat" - Jenny King, Fond du Lac Business Teacher</blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="divider"></div>
      <div class="container" align="center">
        <div class="" align="center">
            <div class="p-5" align="center">
              <h2>Get Started For Free</h2>
              <a href="/demo"<button class="btn btn-lg btn-primary">Try a Demo</button></a> &nbsp;
              <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#contactSupportModal">Contact Support</button> &nbsp;
              <button class="btn btn-lg btn-primary">Check out our FAQ</button> &nbsp;
          </div>
        </div>
      </div>
    <footer class="py-5 bg-white">
      <div class="container">
        <p class="m-0 text-center small" style="color: black;">Copyright &copy; EasyEval 2018</p>
      </div>
    </footer>

    </div>