<div class="EEformBg">
<h2 class="page-header" align="center" style="color: white;">Please Login Below</h2>
{{> flash}}
<div align="center" style="width: 80%; margin: 0 auto; ">
<form method="POST" action="/teachers/login" class="form-group form-control">

    <label>Email</label>
    <input type="text" id="email" name="email" placeholder="Email" class="form-group form-control">
    <label>Password</label>
    <input type="password" name="password" id="password" placeholder="Password" class="form-group form-control">
    <input type="submit" class="btn btn-primary" name="Submit" value="Login" class="form-group form-control">
</form>
</div>
</div>