<div class="EEformBg">
    
   
    <div align="center" style="width: 50%; margin: auto; height:100%">
        <form method="POST" action="/teachers/login" class="form-group form-control cardForm col-lg-5" style="height: auto; margin: 15%;">
            <h2 class="page-header" align="center">Log In</h2>
             {{> flash}}
           
            <a href="/auth/google"><button type="button" class="btn col-sm" style="background: #DD4B39; color:white;"><i class="fa fa-google pr-1"></i> Google Log In</button></a>
    <hr class="seperator">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-envelope"></i></span>
                </div>
                <input type="email" id="email" name="email" placeholder="Email" class="form-group form-control" required autofocus>
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-user"></i></span>
                </div>
                <input type="password" name="password" id="password" placeholder="Password" class="form-group form-control">
            </div>
                <br>
                <p><a data-toggle="modal" data-target="#forgotPassword" style="cursor: pointer">Forgot Password?</a></p>
            <input type="submit" class="btn btn-primary" name="Submit" value="Login" class="form-group form-control">
        </form>
    </div>
</div>


<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPassword" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <form method="POST" action="/forgot" class="form-group">
      <div class="modal-body">
          <h3 align="center">Please Enter Your Email</h3>
          <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-envelope"></i></span>
                </div>
                <input type="email" name="email" class="form-group form-control" required autofocus>
            </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send Password Recovery Email</button>
      </div>
      </form>
    </div>
  </div>
</div>