<script>
    var standards = '{{project.standards}}'.split(',');
    var standardHeaders = [];
    var standardsDiv = document.getElementById("standardTitles");
    window.onload= function(){

        for(var i=0; i<{{project.standardsInAssignment}}; i++){
            standardHeaders[i] = document.createElement('div');
            standardHeaders[i].innerHTML = standards[i];
            standardsDiv.appendChild(standardHeaders[i]);

        };
    };
</script>


<h1>{{project.projectTitle}}</h1>
{{#each project.submissions}}
 <table id="resultsTable" class="table table-striped">
     <th>Students</th>
    {{#each standards}}
    <th>{{standards}}</th>
    {{/each}}
 </table>

 {{/each}}
