<script src=startGroup.js></script>
<script>
    $(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
<div class="container-fluid">
    <div class=" jumboWindow jumbotron ">
        <div id="container" class="" align="center">
            <h1>Easy Eval</h1>
            <p>Evaluate your group members with a click of a button!</p>
            <h5>{{project.projectTitle}}</h5>
            <h5>Max Score of {{project.maxScore}}</h5>
            <div style="width: 55%" align="center">
            <form class="form-inline" action="/evaluate" method="POST">
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <div class="input-group mb-2 mr-sm-2" >
                    <div class="input-group-prepend" id="white-prepend" >
                        <div class="input-group-text">Name</div>
                    </div>
                    <input type="text" class="form-control"  name="firstName" id="userName">
                </div>
                <label class="sr-only" for="numInGroupInput">Number of Other Group Members</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Number of&nbsp;<b>Other</b>&nbsp;Group Members</div>
                    </div>
                    <input type="number" class="form-control" min="0" max="98" onChange="updateForm()" name="numInGroup" id="numInGroupInput">
                </div>
                <label class="sr-only" for="groupNumber">Number of Other Group Members</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Group Number</div>
                    </div>
                    <input type="number" class="form-control" min="1" onChange="updateForm()" name="groupNumber" id="groupNumber">
                </div>
                    <button type="submit" class="btn btn-primary btn-block mb-2">Next</button>
            </form>

            </div>
        <br>
        <br>
        <form id="formInputBoxes" class="form-inline">
            <div id="inputBoxes" class="input-group"></div>
        </form>

        <br>
        <br>
        <br>
        <br>
    </div>
</div>