{{> flash}}
<h4>{{user.firstName}}'s Dashboard</h4>
<a href="/teachers/createProject"><button type="button" class="btn btn-primary btn-lg" >Start a New Project!</button></a>
<br>
<div>
<h2>Your Projects</h2>
<br>
{{if }}
</div>