<style>
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>  
<div class="container-fluid text-center" style="padding: 5px;">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
        <h4>Visual Self Grading!</h4>
        <br>
        <h4>Flexible to fit any Classroom!</h4>
        <br>
        <h4>Exports to Microsoft Excel or Google Sheets!</h4>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1 class="page-header" align="center">Welcome to EasyEval</h1>
      <h1 align="center"><small>The Simple Solution to Group Projects</small></h1>
      <hr>
      <h3>How does it work?</h3>
      <p>Teachers must <a href="/teachers/register">register</a> an account with us to get started. After you register you will be presented with a button to start your first project. It is in this screen you can name your project and assign the standards you are grading. On a side note, we know that every school's grading system is different, so we also have an input for teachers to put in the maximum score students can be awarded. Once you have finished making the project, you will see it appear in your dashboard, along with a 5 digit connect code. Students just need to go to <a href="/">EasyEval.com</a> to put in this code. Then students put in their own group data, like member names and what group number they are. Finally they are asked to evaluate their group. Our sliders and pie charts provide a visual representation of the sharing of credit, allowing for students to really see the impact of their score and provide more honest feedback. </p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Created by Eric Udlis | <a href="mailto:udlis.eric@gmail.com">Udlis.Eric@gmail.com</a></p>
</footer>
