<style>
    html,
    body {
        height: 100%;
    }

    body {
        background-color: #E75480 !important;
    }

    #nbswpContentGeneral {
        height: calc(100% - 56px);
        width: 100%;
    }

    #nbswpContentLeft {
        width: 50%;
        float: left;
        position: relative;
        height: 100%;
        color: #FFF;
        padding: 10px;
    }

    #nbswpContentRight {
        width: 50%;
        float: right;
        position: relative;
        height: 100%;
        color: #FFF;
        padding: 10px;
    }

    #nbswpContentRight img {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    #nbswpText {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: fit-content;
        padding: 15px;
    }
    #nbswpText p {
        text-align: justify;
    }
</style>

<div id="nbswpContentGeneral">
    <div id="nbswpContentLeft">
        <div id="nbswpText">
            <center>
                <h3>EasyEval!</h3>
            </center>
            <p>EasyEval is a simple program commissioned by the Fond du Lac School District for students to easily evaluate their group members during or at the end of a group work project. The Teacher then gets to easily download a spreadsheet of all their students' responses.</p>
            <center>
                <h4>How Does it Work?</h4>
                <p>EasyEval is a very very simple program to use, both for students and for teachers. Teachers simply create an account and start a project. Students type in the pin given by teachers and then start the evaluation process. </p>
            </center>
        </div>
    </div>
    <div id="nbswpContentRight">
        {{!--<img src="http:/via.placeholder.com/500x500">--}}
        <img src="/welcomePageAssets/MacFin500.png">
    </div>
</div>
