@charset "utf-8";
/* CSS Document */

body {
    background-color: #06AED5;
    padding: 0 !important;
}

.slidecontainer {
    width: 100px;
    height: auto;
    /* Width of the outside container */
}

/* The slider itself */

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 15px;
    /* Specified height */
    border-radius: 5px;
    background: #06AED5;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #E75480;
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
    z-index: 1000;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #E75480;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
}

.jumboWindow{
    background: #ffffff;
}
.jumboWindow h1{
    color:#E75480; 
}

#chart {
    width: 50%;
}

.groupMemberBox {
    margin: 5%;
    border: #000000 solid 1px;
}

#inputBoxes {
    height: 75%;
    width: 100%;
}

#form {
    margin: auto center;
}


.projectContainer {
    border: solid black;
    margin: 5%;
}


#enterPin {
    position: absolute;
    top: 50%;
    left: 50%;
    resize: both;
    transform: translate(-50%, -50%);
    background: #ffffff;
    margin:auto center;

}

#enterPin h1 h2 h3 h4 p{
    color:#E75480
}
#pinNumber{
    font-size: 40px;
    width:160px;
    /* border: black solid 1px; */
    border: .125rem solid rgb(73, 73, 73);
    text-align: center;
}

#pinNumber:active{
    border: .125rem solid black;
    outline: none;
}

#teacherDashboard {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 12px;
    padding-top: 0!important;
    text-align: center;
}

#registerForm {
    background-color: white !important;
    width: 90%;
    margin: 5%;
}

#evalPage {
    background-color: white;
    height: auto;
}

#welcomePage{
    background-color: white;
    padding: 10px;
    
}
#bootstap-overrides #white-prepend{
    background: #ffffff !important
}

#createProjectForm{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.shadow{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardForm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #ffffff;
    margin: auto;
    margin-top: 15%;
    height: auto;
    padding: 1%;
    width: fit-content;
}

.cardForm h3 p{
    color: #E75480; 
}
.cardHeader{
    color: black;
}

.cardHeader:hover{
    color: #E75480;
    text-decoration: none;
}
#middle{
    margin: 1px;
    display: block;
}

#submitForm{
    height:auto;
}

 #landing h1{
    font-family: 'Verdana';
    font-weight: 500 !important;   
    color: white;
  }

#landing h2{
    font-family: 'Verdana';
    font-weight: 500 !important; 
    font-size: 3.5em;   
    color: white;
    line-height: 2;
}

#landing h3{
    font-family: 'Arial';
    font-weight: 800 !important;
}

#landing h4{
    font-family: 'Arial';
    font-weight: 800 !important;
}

#landing h5{
    font-family: 'Arial';
    font-weight: 800 !important;
}

#landing h6{
    font-family: 'Arial';
    font-weight: 800 !important;
}

  #landing p{
    font-family: 'Verdana';
    color: white;
    line-height: 2.5;
  }
  
  
  .btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    transform: scale(1.5)
  }
  
  .bg-white {
    background-color: #000 !important;
    color: black;
  }
  
  .rounded-pill {
    border-radius: 5rem;
  }
  header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: url("/classroom.jpg");

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
  }
  
  header.masthead .masthead-content {
    z-index: 1;
    position: relative;
  }
  
  header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
  }
  
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }
  
  header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: #E75480;
  }
  
  header.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
  }
  
  header.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
  }
  
  header.masthead .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
  }
  
  header.masthead .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
  }
  
  @media (min-width: 992px) {
    header.masthead {
      padding-top: calc(10rem + 55px);
      padding-bottom: 10rem;
    }
    header.masthead .masthead-content .masthead-heading {
      font-size: 6rem;
    }
    header.masthead .masthead-content .masthead-subheading {
      font-size: 4rem;
    }
  }
  
  .bg-primary {
    background-color: #ee0979 !important;
  }
  
  #landing
  .btn-primary {
    background-color: #ee0979;
    border-color: #ee0979;
  }
  
  #landing
  .btn-primary:active, #landing .btn-primary:focus, #landing .btn-primary:hover {
    background-color: #14a845 !important;
    border-color: white !important;
  }
  #landing
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem black;
  }
  #landing
  .btn-secondary {
    background-color: #ff6a00;
    border-color: #ff6a00;
  }
  #landing
  .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #cc5500 !important;
    border-color: #cc5500 !important;
  }
  #landing
  .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  }
  .divider{
    width: 100%;
    height: 10px;
    background: white;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ee0979;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }